include registration/LICENSE
include registration/locale/ar/LC_MESSAGES/django.po
include registration/locale/bg/LC_MESSAGES/django.po
include registration/locale/da/LC_MESSAGES/django.po
include registration/locale/de/LC_MESSAGES/django.po
include registration/locale/el/LC_MESSAGES/django.po
include registration/locale/en/LC_MESSAGES/django.po
include registration/locale/es_AR/LC_MESSAGES/django.po
include registration/locale/es/LC_MESSAGES/django.po
include registration/locale/fr/LC_MESSAGES/django.po
include registration/locale/he/LC_MESSAGES/django.po
include registration/locale/is/LC_MESSAGES/django.po
include registration/locale/it/LC_MESSAGES/django.po
include registration/locale/ja/LC_MESSAGES/django.po
include registration/locale/ko/LC_MESSAGES/django.po
include registration/locale/nl/LC_MESSAGES/django.po
include registration/locale/pl/LC_MESSAGES/django.po
include registration/locale/pt_BR/LC_MESSAGES/django.po
include registration/locale/ru/LC_MESSAGES/django.po
include registration/locale/sl/LC_MESSAGES/django.po
include registration/locale/sr/LC_MESSAGES/django.po
include registration/locale/sv/LC_MESSAGES/django.po
include registration/locale/zh_CN/LC_MESSAGES/django.po
include registration/locale/zh_TW/LC_MESSAGES/django.po
